@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%; 
            margin: 0; 
        }

        .hero-section {
            background: linear-gradient(to right, #265584, #301934);
            color: #fff;
            height: 100vh; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            border-radius: 8px;
            text-align: center; 
        }

            .hero-section h1 {
                font-weight: bold;
            }
    </style>
</head>
<body>

    <div class="hero-section">
        <h1 class="display-3">Employee Management System</h1>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
