@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Account" asp-action="Login">Login</a> |
<a asp-controller="Account" asp-action="Register">Register</a>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
